@model Hotel.Models.Meal
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "Meal", FormMethod.Post, new { @class = "form-group" }))
{
    <div class="row">
        <div class="col-lg-2">
            @Html.LabelFor(Model => Model.meal_name, "Meal Name", new { @class = "text-danger" })
        </div>
        <div class="col-lg-6">
            @Html.TextBoxFor(Model => Model.meal_name, new { @class = "form-control", Type = "text" })
        </div>
        <div class="col-lg-4">
            @Html.ValidationMessageFor(Model => Model.meal_name, null, new { @class = "text=danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">
            @Html.LabelFor(Model => Model.low_season, "Low Season", new { @class = "text-danger" })
        </div>
        <div class="col-lg-6">
            @Html.TextBoxFor(Model => Model.low_season, new { @class = "form-control", Type = "text" })
        </div>
        <div class="col-lg-4">
            @Html.ValidationMessageFor(Model => Model.low_season, null, new { @class = "text=danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">
            @Html.LabelFor(Model => Model.high_season, "High Season", new { @class = "text-danger" })
        </div>
        <div class="col-lg-6">
            @Html.TextBoxFor(Model => Model.high_season, new { @class = "form-control", Type = "text" })
        </div>
        <div class="col-lg-4">
            @Html.ValidationMessageFor(Model => Model.high_season, null, new { @class = "text=danger" })
        </div>
    </div>
    <br />
    <br />
   
    <input type="submit" class="btn btn-danger" value="Save" />
    
}
@section Scripts{
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

