@model List<Hotel.Models.customer>
@{
    ViewBag.Title = "Search";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <p>
        <a class="btn btn-danger" href="/Customer/Create">Add New Customer</a>
    </p>
    <br />
    <table class="table table-hover bg-danger">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Room Type</th>
                <th scope="col">Room Number</th>
                <th scope="col">Check In</th>
                <th scope="col">Check Out</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 1;
            }
            @foreach (var item in Model)
            {

                <tr>
                    <th scope="row">@index</th>
                    <td>@item.Name</td>
                    <td>@item.Room_Type1.room_type1</td>
                    <td>@item.room_Num</td>
                    <td>@item.check_in</td>
                    <td>@item.check_out</td>
                    <td>
                        <a href="~/customer/details/@item.id" class="btn btn-success">Details</a>
                        <a href="~/customer/edit/@item.id" class="btn btn-info">Edit</a>
                        <a href="~/customer/delete/@item.id" class="btn btn-danger">Delete</a>
                    </td>

                </tr>
                index = index + 1;
            }
        </tbody>
    </table>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>


